table{
    width: 100%;
}
table, th, td{
    border: 1px solid blue;
    border-collapse: collapse;
    padding: 5px;
}

td{
    text-align: center;
}
tr{
    background-color: rgb(80, 72, 199);
    table{
        width: 100%;
    }
    table, th, td{
        border: 1px solid blue;
        border-collapse: collapse;
        padding: 5px;
    }
    
    td{
        text-align: center;
    }
    tr{
        background-color: green;
    }
}    